.ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg {
    margin-right: .45em;
    display: inline-block;
    width: 2em;
    height: 2em;
}
.contributions{
    text-align: right;
    position: absolute;
    right: 5%;
}
.contributor-list li{
	list-style-type: none;

}
.contributor-list {
	list-style-type: none;

}